.header {


   // Hamburger Open styles
   &.open {

      .header__toggle {
         > span:first-child {
            transform: rotate(45deg);
         }
         > span:nth-child(2) {
            opacity: 0;
         }
         > span:last-child {
            transform: rotate(-45deg);
         }
      }
   }
   .overlay {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient($darkBlue, transparent);

      &.fade-in {
         // display: block;
      }
      &.fade-out {
         // display: none;
      }
   }


   nav {
      position: relative;
      background-color: $white;
      padding-top: 1.0624rem;
      padding-bottom: 1.0624rem;
   }

   // logo
   &__logo {
      img {
         width: 8.8125rem;
         height: 1.375rem;
      }
   }

   // mobile menu toggle
   &__toggle {
      // > is a direct child selector
      //hamburger menu
      > span {
         display: block;
         width: 26px;
         height: 2px;
         background: $darkBlue;
         transition: all 300ms ease-in-out;
         transform-origin: 3px 1px;

         // not selector (selecting everthing but the last span)
         &:not(:last-child) {
            margin-bottom: 5px;
         }
      }
   }


   // mobile menu
   &__menu {
      background: $white;
      padding: 1.625rem;
      border-radius: .3125rem;
      margin-top: 1.5rem;
      position: absolute;
      width: calc(100% - 3rem);
      left: 50%;
      transform: translateX(-50%);

      // margin: 1.5rem 1.5rem 0 1.5rem;
      // position: relative;
      // z-index: 5;

      a {
         display: block;
         padding: .625rem;
         text-align: center;
         color: $darkBlue;
      }
   }

   // Nav Links
   &__links {
      a {
         position: relative;
         font-size: 0.875rem;
         color: $grayishBlue;
         transition: color 250ms ease-in-out;

         &:not(:last-child) {
            margin-right: 32px;
         }

         &::before {
            content: "";
            position: absolute;
            height: 5px;
            left: 0;
            right: 0;
            bottom: -27px;
            background: linear-gradient(to right, $limeGreen, $brightCyan);

            // allows the border bottom to transition in
            opacity: 0;
            transition: opacity 250ms ease-in-out;
         }

         &:hover {
            color: $darkBlue;

            &::before {
               // allows the border bottom to transition in (opacity 1 will allow it to appear on hover)
               opacity: 1;
            }
         }
      }
   }
   &__cta {
      font-size: $font-sm;
      color: $white;

      &:hover {
         opacity: 0.75;
         transition: opacity 400ms ease-in-out;
      }
   }
}
